$font-family : 'Nunito', sans-serif;
$font-size : 18px;
$line-height: 30px;
$background: #f8f8f8;
$color: #666;
$padding_testimonial_item : 30px;
$font-size-icon : 48px;
$color-icon : rgba(0,0,0,.05);
$width-img: 60px;
$height-img: 60px;
$base_font_size : 62.5%;

//  ---general---

.type-1551{
    box-sizing: border-box;
    font-family: $font-family;
   .testimonial{
      position: relative;
      margin: 60px 0;
      color: $color;
      background: $background;
   }
   
   // --- end general---

   // ---testimonial Item---

   .testimonial-item{
      padding: $padding_testimonial_item;
      &-icon{
         position: absolute;
         color: $color-icon;
         border-color: rgba(0,0,0,.05);
         font-size: $font-size-icon;
         top: 0;
         left: 20px;
      }
      &-content{
         width: 100%;
         overflow: hidden;
         font-size: $font-size;
         font-weight: 300;
         line-height: $line-height;
         margin-bottom: 20px;
         text-align: left;
      }
      &-img{
         width: $width-img;
         height: $height-img;
         border-radius: 50%;
         border: none;
         box-shadow: none;
         color: $color;
      }
      &-details{
         padding-left: 20px;
         overflow: hidden;
         display: block;
         .testimonial-item-name{
            width: auto;
            font-size: $font-size;
            font-weight: 400;
            text-align: left;
         }
         .testimonial-item-job{
            color: #21bda1;
            font-size: $font-size - 0.2rem;
            font-weight: 300;
            letter-spacing: .2px;
            width: auto;
         }
      }
   }
   // --- end testimonial Item---
}

