.type-1546 {
  font-family: 'Nunito', sans-serif;
  margin: 30px 0;
  box-sizing: border-box;
  overflow: hidden; }
  .type-1546 .container-browse {
    padding: 30px 0; }
    .type-1546 .container-browse .header-title-medium {
      font-size: 22px;
      color: #21bda1;
      font-weight: 400;
      line-height: 30px; }
    .type-1546 .container-browse .header-title-default {
      color: #222;
      font-size: 30px;
      font-weight: 400;
      line-height: 30px; }
    .type-1546 .container-browse .browse {
      text-align: right;
      margin: auto; }
      .type-1546 .container-browse .browse .header-browse {
        text-decoration: none;
        border-color: transparent transparent #21bda1 transparent;
        border-width: 2px;
        border-style: solid;
        padding: 6px 0; }
        .type-1546 .container-browse .browse .header-browse .browse-icon {
          display: inline-block;
          font-size: 16px;
          color: #222;
          margin-right: 5px; }
        .type-1546 .container-browse .browse .header-browse .browse-text {
          font-size: 16px;
          color: #222; }
      .type-1546 .container-browse .browse .header-browse:hover .browse-text {
        color: #21bda1; }
      .type-1546 .container-browse .browse .header-browse:hover .browse-icon {
        color: #21bda1; }
  .type-1546 .swiper-container {
    width: auto; }
    .type-1546 .swiper-container .swiper-slide a {
      margin: 0 10px;
      display: block;
      position: relative; }
      .type-1546 .swiper-container .swiper-slide a .slide-img {
        max-width: 100%;
        height: 100%; }
      .type-1546 .swiper-container .swiper-slide a .overlay-slide-link {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        animation: speed ease 0.5s;
        top: 0;
        z-index: 9; }
        .type-1546 .swiper-container .swiper-slide a .overlay-slide-link i {
          position: absolute;
          top: 40%;
          left: 50%;
          font-size: 60px;
          color: #666; }
        .type-1546 .swiper-container .swiper-slide a .overlay-slide-link i:hover {
          color: rgba(255, 255, 255, 0.8);
          animation: speed ease-in 0.3s; }
    .type-1546 .swiper-container .swiper-slide a:hover .overlay-slide-link {
      display: block; }
    .type-1546 .swiper-container .swiper-slide .slide-content {
      position: relative;
      text-align: center;
      margin-top: -10%;
      width: 80%;
      margin-left: 10%;
      padding: 25px 30px 0 30px;
      z-index: 99;
      background-color: #fff; }
      .type-1546 .swiper-container .swiper-slide .slide-content a {
        text-decoration: none; }
        .type-1546 .swiper-container .swiper-slide .slide-content a .content-title {
          padding: 5px 0;
          text-decoration: none;
          color: #666;
          font-size: 22px; }
        .type-1546 .swiper-container .swiper-slide .slide-content a .content-title:hover {
          color: #21bda1;
          animation: speed ease-in 0.3s; }
        .type-1546 .swiper-container .swiper-slide .slide-content a .content-job {
          text-decoration: none;
          color: #21bda1;
          font-size: 16px; }
    .type-1546 .swiper-container .swiper-button-next {
      background-color: #21bda1;
      color: #fff;
      padding: 20px;
      top: 50%; }
    .type-1546 .swiper-container .swiper-button-prev {
      background-color: #21bda1;
      color: #fff;
      padding: 20px;
      top: 50%; }

@keyframes speed {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@media (max-width: 992px) {
  .type-1546 .container .row .browse {
    text-align: left;
    margin: 0; } }
