.type-1551 {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }
  .type-1551 .testimonial {
    position: relative;
    margin: 60px 0;
    color: #666;
    background: #f8f8f8; }
  .type-1551 .testimonial-item {
    padding: 30px; }
    .type-1551 .testimonial-item-icon {
      position: absolute;
      color: rgba(0, 0, 0, 0.05);
      border-color: rgba(0, 0, 0, 0.05);
      font-size: 48px;
      top: 0;
      left: 20px; }
    .type-1551 .testimonial-item-content {
      width: 100%;
      overflow: hidden;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 20px;
      text-align: left; }
    .type-1551 .testimonial-item-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      box-shadow: none;
      color: #666; }
    .type-1551 .testimonial-item-details {
      padding-left: 20px;
      overflow: hidden;
      display: block; }
      .type-1551 .testimonial-item-details .testimonial-item-name {
        width: auto;
        font-size: 18px;
        font-weight: 400;
        text-align: left; }
      .type-1551 .testimonial-item-details .testimonial-item-job {
        color: #21bda1;
        font-size: 17.8px;
        font-weight: 300;
        letter-spacing: 0.2px;
        width: auto; }
