$font-family : 'Nunito', sans-serif;
$color-green : #21bda1;
$color-black : #aaaaaa;
$font-size : 18px;
$magin-top : 10px;

.type-1518{
    box-sizing: border-box;
    font-family: $font-family;

    // ---top-bar---
    
    .top-bar{
        margin: 0;
        padding: 0;
        &-left{
            color: $color-black;
            font-size: $font-size - 4px;
            margin-top: $magin-top;
        }
        &-right{
            text-align: right;
            & a{
                display: inline-block;
                width: 40px;
                height: 40px;
                text-align: center;
                text-decoration: none;
                i {
                    font-size: $font-size - 2px;
                    margin-top: $magin-top;
                    color: #aaaaaa;
                }
            }
            & a:hover{
                background: $color-green;
                transition: .5s linear;
                i{
                    color: #fff;
                }
            }
        }
    }
    @media only screen and (max-width: 576px){
        .top-bar{
            visibility: hidden;
        }
      }

    //   ---end top-bar---

    // ---navigate---

    .navigation{
        border-top: 1px solid rgba(0,0,0,.12);
        padding: 20px 0;
        transition: all 0.5s;
        z-index: 997;
        background: #fff;
        box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
        height: 100px;
        margin: auto;
        .container{
            padding: 0;
            .navbar-brand{
                width: auto;
            }
            .navbar-nav{
                width: 100%;
                padding: 10px;
                padding-left: 380px;
                margin: 10px 15px;
                .nav-item{
                    position: relative;
                    list-style: none;
                    text-decoration: none;
                    padding-right: 30px;
                    .nav-link{
                        position: relative;
                        padding: 0;
                        text-decoration: none;
                        color: #666;
                        font-size: $font-size - 2px;
                    }
                    .nav-link::before{
                        position: absolute;
                        content: "";
                        display: none;
                        height: 2px;
                        width: 100%;
                        background: $color-green;
                        top: 25px;
                        transform-origin: 50%;
                        animation: effect_border ease-in 0.3s;
                        will-change: opacity, transform;
                    }
                    .nav-link:hover.nav-link::before{
                        display: block;
                    }
                    .dropdown-menu{
                        position: absolute;
                        display: none;
                        margin: 4px 0 0 0;
                        width: 250px;
                        padding: 5px;
                        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                        background: #fff;
                        list-style: none;
                        top: 50px;
                        a{
                            width: 200px;
                            font-size: $font-size - 4px;
                        }
                    }      
                    .dropdown-toggle::after{
                        display: none;
                    }
                }
                .dropdown:hover{
                    .dropdown-menu{
                        display: block;
                    }
                }   
                .active{
                    .nav-link::before{
                        display: block;
                    }
                }   
            }
            .nav-search-link{
                margin-bottom: 10px;
                .fa-search{
                    transform: rotate(90deg);
                    color: $color-green;
                }
                .fa-search:hover{
                    opacity: .5;
                }
            }

            // ---search---

            .search{
                position: absolute;
                top: 60px;
                right: 10px;
                box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                background: #fff;
                padding: 5px 10px;
                display: block;
                .nav-search{
                    display: inline-block;
                    border: none;
                    font-size: $font-size - 2px;
                    padding: 10px;
                    width: 280px;
                    .search-text{
                        border: none;
                        width: 100%;
                    }
                    .search-text:focus{
                        border: none;
                    }
                }
                .nav-search::after{
                    content: "";
                    position: absolute;
                    top:-27px;
                    right: 0;
                    display: block;
                    border-color: transparent transparent #fff  transparent;
                    border-style: solid;
                    border-width: 20px;
                }
                .nav-search-icon{
                    color: #666;
                    transform: rotate(90deg);
                }
            }
        }
    }
    @keyframes effect_border {
        from{
            opacity: 0;
            transform: scale(0);
        }to{
            opacity: 1;
            transform: scale(1);
        }
    }
}


