.type-26 {
  box-sizing: border-box;
  overflow: hidden; }
  .type-26 .top-footer {
    background-image: url("/testmodule/26/images/2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    .type-26 .top-footer .container-top-footer {
      padding-top: 20px; }
      .type-26 .top-footer .container-top-footer h2 {
        color: #fff;
        font-size: 45px; }
      .type-26 .top-footer .container-top-footer p {
        color: #fff;
        font-size: 18px; }
      .type-26 .top-footer .container-top-footer .form {
        margin: auto;
        padding: 0 15px; }
        .type-26 .top-footer .container-top-footer .form .input-email {
          padding: 0; }
        .type-26 .top-footer .container-top-footer .form .input-submit {
          padding-left: 5px; }
        .type-26 .top-footer .container-top-footer .form .femail {
          width: 100%;
          padding: 10px;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 99px 0 0 99px;
          background: inherit; }
        .type-26 .top-footer .container-top-footer .form input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #fff; }
        .type-26 .top-footer .container-top-footer .form input[type="email"]:focus {
          border-color: #00a685;
          outline: none; }
        .type-26 .top-footer .container-top-footer .form input[type="submit"]:focus {
          border-color: #00a685;
          outline: none; }
        .type-26 .top-footer .container-top-footer .form .fsubmit {
          border: 1px solid #fff;
          padding: 10px 0;
          border-radius: 0 99px 99px 0;
          background: #fff; }
  .type-26 .footer {
    background: #E9E9E9;
    padding-bottom: 20px; }
    .type-26 .footer .footer-connect {
      text-align: center; }
      .type-26 .footer .footer-connect a {
        display: inline-flex;
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 99px;
        margin: 20px 0 10px 0; }
        .type-26 .footer .footer-connect a span {
          display: block;
          margin: auto; }
          .type-26 .footer .footer-connect a span i {
            font-size: 16px;
            color: #000; }
    .type-26 .footer p {
      text-align: center;
      margin-bottom: 20px; }
    .type-26 .footer .footer-bottom {
      text-align: center; }
      .type-26 .footer .footer-bottom a {
        margin: 10px 10px;
        color: #000; }
      .type-26 .footer .footer-bottom a:hover {
        text-decoration: none; }
  @media only screen and (max-width: 768px) {
    .type-26 .input-email {
      padding: 0 0 0 15px !important; } }
