.type-1518 {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }
  .type-1518 .top-bar {
    margin: 0;
    padding: 0; }
    .type-1518 .top-bar-left {
      color: #aaaaaa;
      font-size: 14px;
      margin-top: 10px; }
    .type-1518 .top-bar-right {
      text-align: right; }
      .type-1518 .top-bar-right a {
        display: inline-block;
        width: 40px;
        height: 40px;
        text-decoration: none; }
        .type-1518 .top-bar-right a i {
          font-size: 16px;
          margin-top: 10px;
          color: #aaaaaa; }
      .type-1518 .top-bar-right a:hover {
        transition: 0.5s linear; }
        .type-1518 .top-bar-right a:hover i {
          color: #21bda1; }
  @media only screen and (max-width: 576px) {
    .type-1518 .container-bar {
      visibility: hidden; } }
  .type-1518 .navigation {
    border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .type-1518 .navigation .navbar {
      padding: 0; }
      .type-1518 .navigation .navbar .dropdown-toggle::after {
        display: none; }
      .type-1518 .navigation .navbar .search {
        display: none; }
      .type-1518 .navigation .navbar .nav-item {
        margin-left: 30px; }
        .type-1518 .navigation .navbar .nav-item .nav-link {
          position: relative;
          padding: 0;
          text-decoration: none;
          color: #666;
          font-size: 16px; }
        .type-1518 .navigation .navbar .nav-item .nav-link::before {
          position: absolute;
          content: "";
          display: none;
          height: 2px;
          width: 100%;
          background: #21bda1;
          top: 25px;
          transform-origin: 50%;
          animation: effect_border ease-in 0.3s;
          will-change: opacity, transform; }
        .type-1518 .navigation .navbar .nav-item .nav-link:hover.nav-link::before {
          display: block; }
        .type-1518 .navigation .navbar .nav-item .nav-search-icon {
          transform: rotate(90deg);
          color: #21bda1; }
        .type-1518 .navigation .navbar .nav-item .search {
          position: absolute;
          display: flex;
          visibility: hidden;
          right: 0;
          top: 50px;
          box-shadow: 0 0 30px 0 rgba(40, 43, 48, 0.253); }
          .type-1518 .navigation .navbar .nav-item .search input[type="text"] {
            outline: none;
            border: none;
            padding: 10px 20px; }
          .type-1518 .navigation .navbar .nav-item .search a {
            margin: auto; }
          .type-1518 .navigation .navbar .nav-item .search .nav-search-icon {
            margin: 0 10px; }
        .type-1518 .navigation .navbar .nav-item .search::before {
          content: "";
          display: block;
          position: absolute;
          border-width: 15px;
          border-style: solid;
          border-color: transparent transparent #fff transparent;
          right: 0;
          top: -22px; }
      .type-1518 .navigation .navbar .dropdown .dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
        pointer-events: none; }
      .type-1518 .navigation .navbar .dropdown .dropdown-menu::before {
        content: "";
        display: block;
        position: absolute;
        width: 300px;
        height: 30px;
        top: -25px; }
      .type-1518 .navigation .navbar .dropdown .dropdown-item:hover {
        background-color: #21bda1; }
    .type-1518 .navigation .navbar .dropdown:hover .dropdown-menu {
      padding: 0;
      margin-top: 20px;
      width: 300px;
      display: block; }
  .type-1518 .navigation .navbar .nav-item-home .nav-link::before {
    display: block; }

@keyframes effect_border {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }
@media only screen and (max-width: 992px) {
  .type-1518 .navigation .navbar .search {
    display: flex;
    box-shadow: 0 0 30px 0 rgba(40, 43, 48, 0.253); }
    .type-1518 .navigation .navbar .search input[type="text"] {
      outline: none;
      border: none;
      padding: 10px 20px; }
    .type-1518 .navigation .navbar .search a {
      margin: auto; }
    .type-1518 .navigation .navbar .search .nav-search-icon {
      margin: 0 10px;
      transform: rotate(90deg);
      color: #21bda1; }
  .type-1518 .navigation .navbar .nav-item {
    margin-left: 0; }
    .type-1518 .navigation .navbar .nav-item .nav-link:hover.nav-link::before {
      display: none; }
  .type-1518 .navigation .navbar .nav-item:hover {
    background: #21bda1; }
    .type-1518 .navigation .navbar .nav-item-home .nav-link::before {
      display: none; }
  .type-1518 .navigation .navbar .dropdown:hover .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0; }
  .type-1518 .navigation .navbar .dropdown:hover .dropdown-menu::before {
    display: none; }
  .type-1518 .navigation .navbar .item-search {
    display: none; } }
